body{
    font-size: 16px;
}

.color-bar {
    border-left: 5px solid #14c0c9;
    padding-left: 10px;
}

.top-bar { 
    background-color: #f5f5f5;
    color:#858585;
    padding: 6px 0;
    font-size: 12px;
    border-top: 3px solid #0aa8ad;
}
.top-bar-inner a:hover{
    color:#14c0c9;
}
.top-bar-inner p{
    text-align: right;
    margin: 0;
}
.top-bar-inner {
    list-style: none;
    text-decoration: none;
    color: gray;
    margin-top: 0px;
}
.top-bar-inner ul {
    padding: 0;
    margin: 0;
    color: gray;
    text-align: left; 
}
.top-bar-inner li {
    display:inline;
    margin-right: 5px;
    text-decoration: none; 
    color: gray;
}
.top-bar-inner a{
    display:inline;
    text-decoration: none;
    color:gray; 
    text-align: right; 
}
.logo{
    margin-top:15px;
}
.logo img{
    display: inline;
    text-align: left;
}
.logo a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.logo a{
    background-color: #e6e6e6;
    color:#a1a1a1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.logo li{
    display: inline;
    text-align: right;
    color:gray; 
    text-decoration: none;
}
.logo ul {
    padding: 0;
    margin: 0;
    color: gray;
    text-align: right;
}
.nav{
    margin-top:15px;
}
.nav a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.nav a{
    padding: 10px 15px;
    color:gray; 
}
.nav li{
    display: inline;
    text-align: right;
    color:gray; 
    text-decoration: none;
}
.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}
.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #e6e6e6;
    color: #8f8f8f;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}
.big-pic img{
    margin-top: 15px;
    margin-bottom: 10px;
}
.set-pic{
    margin-top: 10px; 
    margin-bottom: 20px;
}
.items{
    text-align: center;
}
.latest a:hover{
    background-color:#14c0c9;
} 
.latest a{
    background-color: #fafafa;
    color:#9e9e9e;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
}
.latest ul {
    text-align: right;
    margin-top: 20px;
}
.latest li {
    display: inline;
}
.bestsellers a:hover{
    background-color:#14c0c9;
} 
.bestsellers ul {
    text-align: right;
    margin-top: 20px;
}
.bestsellers li {
    display: inline;
}
.bestsellers a{
    background-color: #fafafa;
    color:#9e9e9e;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
}
.manufacturers a{
    background-color: #fafafa;
    color:#9e9e9e;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
}
.manufacturers a:hover{
    background-color:#14c0c9;
}
.manufacturers li{
    display: inline;
}
.manufacturers ul {
    text-align: right;
    margin-top: 20px;
}
.second-set h5{
    font: 10px;
    text-align: center;
}
.second-set a{
    background-color:#434a4a;
    color:white;
    display: center;
    border-radius: 5px;
    padding: 10px 15px;
}
.second-set a:hover{
    color: #09a6b8;
    text-decoration: none;
}
.fashion a{
    background-color:#434a4a;
    color:white;
    display: center;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.fashion a:hover{
    color: #09a6b8;
    text-decoration: none;
}
.fashion h5{
    font: 10px;
    text-align: center;
}
.text{
    margin-top:20px;
    margin-bottom:25px; 
}
.fashion{
    margin-bottom: 25px;
}
.fashion h4{
    font: 10px;
    text-align: center;
}
.fashion input{
    background-color:#434a4a;
    color:white;
}
.brand-logo{
    margin-bottom: 25px;
}
.info-text{
    background-color: #434a4a;
    padding-bottom: 100px;
}
.info-text h3{
    color: white;
}
.account li{
    color: #09a6b8;
    padding: 10px;
}
.account ul{
    display: inline;
}
.account a{
    color:#9fa1a1;
}
.account a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.products li{
    color: #09a6b8;
    padding: 10px;
}
.products ul{
    display: inline;
}
.products a{
    text-decoration: none;
    color:#9fa1a1;
}
.products a:hover{
    color:#14c0c9;
}
.twitter p{
    color:#9fa1a1;
    padding-right: 10px;
    margin-top: 33px;
}
.twitter a{
    color:#9fa1a1;
}
.twitter a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.twitter h5{
    color:#9fa1a1;
}
.paragraph p{
    color:#9fa1a1;
    padding-right: 15px;
    margin-top: 25px;
}
.paragraph a{
    color:#9fa1a1;
}
.paragraph a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.paragraph h5{
    color:#9fa1a1;
}
.images a{
    color:#9fa1a1;
}
.facebook-pic h3{
    float: left;
}
.facebook-pic img{
    float: right;
    margin-top: 20px;
}
.people p{
    float: left;
    color:#9fa1a1;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.people a{
    color:#14c0c9;
    text-decoration: none;
}
.people a:hover{
    color:#14c0c9;
}

.sign-up form{
    margin-right: 10px;
    text-align: right;
}
.sign-up{
    background-color:#d4d4d4;
    padding-top: 10px;
}
.sign-up h2{
    margin-top: 5px;
}
.input{
    border: solid #fae01e 3px;
}
.clickable{
   background-color:#424a4a;
   color: white;
}
.images a:hover{
    color:#14c0c9;
    text-decoration: none;
}
.images h4 {
    text-align: center;
    margin: 5px 0 15px;
}
.footer{
    background-color:#424a4a;
    border-top: 3px solid #353838;
    color:#9fa1a1;
    padding: 20px 0;
}
.footer p{
    padding:10px;
    text-align: right;
}
    